/* Write your code here: */
h1,
h2 {
  color: rgb(138, 43, 226);
}
.box > .done {
  color: red;
}
ul > li {
  color: blue;
}
ul > .done {
  color: green;
}
ul > p.done {
  color: black;
  font-size: 0.5rem;
}
